<div id="footer">

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <h2>Get in touch!</h2>
      <p><img src="images/email.png" alt="mail" width="20" height="20" /> <a href="mailto:luisagottardo@btinternet.com?Subject=Hello">luisagottardo@btinternet.com</a></p>
      <p><img src="images/facebook.png" alt="facebook" width="20" height="20"/> <a href="http://uk.linkedin.com/pub/luisa-gottardo/15/178/ab4/" target="_blank">On LinkedIn</a></p>
      <p><img src="images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/lu1820" target="_blank">@lu1820</a></p>
    </div>
    <div class="col-md-9">
      <h2>Copyright &copy; 2014 Luisa Gottardo</h3>
    </div>
  </div>
</div>

</div>