<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  
  <title>Luisa Gottardo - {{page.title}}</title>
  <meta name="description" content="Bad Robot Design: user experience design consultancy">
  <meta name="keywords" content="user experience design, UX designer, freelance, portfolio, UX, London">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  <link href="../css/styles.css" rel="stylesheet">
  
  <!-- Add jQuery library -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  
  <meta property="og:title" content="Luisa Gottardo: Copywriter"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://luisagottardo.co.uk"/>
  <meta property="og:image" content="http://badrobotdesign.com/images/logo-1.png"/>
  <meta property="og:site_name" content="Luisa Gottardo"/>
  <meta property="og:description" content="Luisa writes amazing copy"/> 
  
  <link rel="icon" type="image/png" href="../favicon.png" />
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="../index.html"><img src="../images/luisa-logo-tiny.png" alt="logo-smallest" /></a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li {% if page.nav == "home" %} class="active"{% endif %}><a href="../index.html">Home</a></li>
      <li class="divider"></li>
      <li {% if page.nav == "make" %} class="active"{% endif %}><a href="../make.html">Work</a></li>
      <li class="divider"></li>
      <li {% if page.nav == "happy" %} class="active"{% endif %}><a href="../happy.html">Happy Clients</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="wrapper">
    <div class="container">
      <div class="row">
      <h1>Luisa Gottardo</h1>
      </div>

<div class="row intro">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>David Lloyd Leisure blog</h2>      
      <div class="row">
        <div class="col-md-12">          
          <div class="meet-BRD">
            <div class="row about-yael">
              <div class="about-left">
                <h3>The brief</h3>
                <p>Manage and write a range of engaging articles for the David Lloyd Leisure Blog that would be of interest to our members (25-60 years old, ‘urban elite’ health and fitness enthusiasts).</p>
                <h3>What I did</h3>
                <p>I researched interesting topics and relevant keywords for SEO purposes, gathering together the information and imagery needed. I managed a range of stakeholders who had input into each article, to guarantee that the information within the article is truthful and accurate. I then published articles to the blog and liaised with social teams to share for a further reach to relevant audiences. </p>
                <p>An important aspect of writing articles was also seeing how far and wide our blog posts reached. For example, my blog post ’12 pre and post workout snacks’ was clicked over 1400 times and seen by over 20,000 people on Facebook.</p>
                <p>Blog examples:</p>
                <div class="row logo-row">
							  	<div class="col-md-6">
                		<h4><a href="http://www.davidlloyd.co.uk/blog/fitness/how-to-train-for-your-body-type">How to train for your body type</a></h4>
                	</div>
							  	<div class="col-md-6">
                		<img src="../images/blog-images/bodytype.jpg" class="img-responsive"/>
							  	</div>
                </div>
                <div class="row logo-row">
							  	<div class="col-md-6">
                		<h4><a href="http://www.davidlloyd.co.uk/blog/fitness/gym-of-the-future">The gym of the future</a></h4>
							  	</div>
							  	<div class="col-md-6">
                		<img src="../images/blog-images/future.jpg" class="img-responsive"/>
							  	</div>
                </div>
                <div class="row logo-row">
							  	<div class="col-md-6">
                		<h4><a href="http://www.davidlloyd.co.uk/blog/fitness/12-changes-to-a-fitter-you">12 lifestyle changes for a healthier you</a></h4>
							  	</div>
							  	<div class="col-md-6">
                		<img src="../images/blog-images/lifestyle.jpg" class="img-responsive"/>
							  	</div>
                </div>
                <div class="row logo-row">
							  	<div class="col-md-6">                
                		<h4><a href="http://www.davidlloyd.co.uk/blog/nutrition/12-pre-and-post-snacks">12 pre and post workout snacks</a></h4>
							  	</div>
									<div class="col-md-6">	
                		<img src="../images/blog-images/snacks.jpg" class="img-responsive"/>
									</div>
                </div>
                </div>
              </div>
              </div>       
            </div>
          </div>
        </div>        
    </div>   
  </div>
</div>

</div>
  </div>
  
  <div id="footer">

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <h2>Get in touch!</h2>
      <p><img src="../images/email.png" alt="mail" width="20" height="20" /> <a href="mailto:luisagottardo@btinternet.com?Subject=Hello">luisagottardo@btinternet.com</a></p>
      <p><img src="../images/linkedin.png" alt="facebook" width="20" height="20"/> <a href="http://uk.linkedin.com/pub/luisa-gottardo/15/178/ab4/" target="_blank">On LinkedIn</a></p>
      <p><img src="../images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/lu1820" target="_blank">@lu1820</a></p>
    </div>
    <div class="col-md-9">
      <h2>Copyright &copy; 2014 Luisa Gottardo</h3>
    </div>
  </div>
</div>

</div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  
    <script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>
  
  <script type="text/javascript">
    $('#navbar').scrollspy()
  </script>
</body>
</html>