<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  
  <title>Luisa Gottardo - {{page.title}}</title>
  <meta name="description" content="Bad Robot Design: user experience design consultancy">
  <meta name="keywords" content="user experience design, UX designer, freelance, portfolio, UX, London">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  <link href="../css/styles.css" rel="stylesheet">
  
  <!-- Add jQuery library -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  
  <meta property="og:title" content="Luisa Gottardo: Copywriter"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://luisagottardo.co.uk"/>
  <meta property="og:image" content="http://badrobotdesign.com/images/logo-1.png"/>
  <meta property="og:site_name" content="Luisa Gottardo"/>
  <meta property="og:description" content="Luisa writes amazing copy"/> 
  
  <link rel="icon" type="image/png" href="../favicon.png" />
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="../index.html"><img src="../images/luisa-logo-tiny.png" alt="logo-smallest" /></a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li {% if page.nav == "home" %} class="active"{% endif %}><a href="../index.html">Home</a></li>
      <li class="divider"></li>
      <li {% if page.nav == "make" %} class="active"{% endif %}><a href="../make.html">Work</a></li>
      <li class="divider"></li>
      <li {% if page.nav == "happy" %} class="active"{% endif %}><a href="../happy.html">Happy Clients</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="wrapper">
    <div class="container">
      <div class="row">
      <h1>Luisa Gottardo</h1>
      </div>

<div class="row intro">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>David Lloyd Leisure Landing Pages</h2>      
      <div class="row">
        <div class="col-md-12">          
          <div class="meet-BRD">
            <div class="row about-yael">
              <div class="about-left">
                <h3>The brief</h3>
                <p>Create landing pages on a variety of topics, which will give the users more information about any given product or service, and is linkable throughout the website.</p>
                <h3>What I did</h3>
                <p>I gathered relevant information on each product and service, through both internal and external research, as well as liaising with relevant key stakeholders. I wrote engaging copy to ensure that the page provided all information necessary. I worked closely with the Digital Designer to source the imagery, and I created the design and structure of the pages. I also found all areas of the website where the landing page could be linked to. </p>              
                <p>Tracking how well my copy performs is an integral part of what I do. Some statistics on past landing pages are:</p>
                <ul list>
	                <li><a href="http://www.davidlloyd.co.uk/content/discover-more">Discover more landing page:</a> 5060 unique page views. Just under 1 minute spent on the page.</li>
									<li><a href="http://www.davidlloyd.co.uk/content/immersive">Immersive landing page:</a> 1297 new users viewed the page. 4000 unique page views. Over two mins spent on the page.</li>
									<li><a href="http://www.davidlloyd.co.uk/content/bilt">BILT landing page:</a> 841 unique page views, nearly three minutes spent on the page.</li>
                </ul>
                <div class="work-image">
                	<img src="../images/work/dl-insp-lp.jpg" class="img-responsive"/>
                	<h6><em>I was asked to create, design and write a landing page which would present our inspirational members to all site users. This was achieved in a tight deadline of under 3 hours.</em></h6>
                </div>
              </div>       
            </div>
          </div>
        </div>        
    </div>   
  </div>
</div>

</div>
  </div>
  
  <div id="footer">

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <h2>Get in touch!</h2>
      <p><img src="../images/email.png" alt="mail" width="20" height="20" /> <a href="mailto:luisagottardo@btinternet.com?Subject=Hello">luisagottardo@btinternet.com</a></p>
      <p><img src="../images/linkedin.png" alt="facebook" width="20" height="20"/> <a href="http://uk.linkedin.com/pub/luisa-gottardo/15/178/ab4/" target="_blank">On LinkedIn</a></p>
      <p><img src="../images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/lu1820" target="_blank">@lu1820</a></p>
    </div>
    <div class="col-md-9">
      <h2>Copyright &copy; 2014 Luisa Gottardo</h3>
    </div>
  </div>
</div>

</div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  
    <script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>
  
  <script type="text/javascript">
    $('#navbar').scrollspy()
  </script>
</body>
</html>