<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  
  <title>Luisa Gottardo - {{page.title}}</title>
  <meta name="description" content="Bad Robot Design: user experience design consultancy">
  <meta name="keywords" content="user experience design, UX designer, freelance, portfolio, UX, London">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  <link href="../css/styles.css" rel="stylesheet">
  
  <!-- Add jQuery library -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  
  <meta property="og:title" content="Luisa Gottardo: Copywriter"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://luisagottardo.co.uk"/>
  <meta property="og:image" content="http://badrobotdesign.com/images/logo-1.png"/>
  <meta property="og:site_name" content="Luisa Gottardo"/>
  <meta property="og:description" content="Luisa writes amazing copy"/> 
  
  <link rel="icon" type="image/png" href="../favicon.png" />
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="../index.html"><img src="../images/luisa-logo-tiny.png" alt="logo-smallest" /></a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li {% if page.nav == "home" %} class="active"{% endif %}><a href="../index.html">Home</a></li>
      <li class="divider"></li>
      <li {% if page.nav == "make" %} class="active"{% endif %}><a href="../make.html">Work</a></li>
      <li class="divider"></li>
      <li {% if page.nav == "happy" %} class="active"{% endif %}><a href="../happy.html">Happy Clients</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="wrapper">
    <div class="container">
      <div class="row">
      <h1>Luisa Gottardo</h1>
      </div>

<div class="row intro">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>In For A Treat</h2>      
      <div class="row">
        <div class="col-md-12">          
          <div class="meet-BRD">
            <div class="row about-yael">
              <div class="about-left">
                <h3>The brief</h3>
                <p>Create the concepts for a tagline and marketing materials for ‘In For a Treat’ - a start-up targeted at providing monthly treats for women when they’re on their period. </p>
                <h3>What I did</h3>
                <p>After researching the brand and their target audience, I brainstormed some initial phrasing that would hit home with the relevant people. I took some of the concepts into focus groups to test how they resonated. From those insights I then refined the wording down, and came up with the final tagline and materials that suited both the company, and their users. </p>              
                <div class="work-image">
                	<img src="../images/work/ifat1.png" class="img-responsive"/>
                	<img src="../images/work/ifat2.png" class="img-responsive"/>
                	<img src="../images/work/ifat3.png" class="img-responsive"/>
                </div>
              </div>       
            </div>
          </div>
        </div>        
    </div>   
  </div>
</div>

</div>
  </div>
  
  <div id="footer">

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <h2>Get in touch!</h2>
      <p><img src="../images/email.png" alt="mail" width="20" height="20" /> <a href="mailto:luisagottardo@btinternet.com?Subject=Hello">luisagottardo@btinternet.com</a></p>
      <p><img src="../images/linkedin.png" alt="facebook" width="20" height="20"/> <a href="http://uk.linkedin.com/pub/luisa-gottardo/15/178/ab4/" target="_blank">On LinkedIn</a></p>
      <p><img src="../images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/lu1820" target="_blank">@lu1820</a></p>
    </div>
    <div class="col-md-9">
      <h2>Copyright &copy; 2014 Luisa Gottardo</h3>
    </div>
  </div>
</div>

</div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  
    <script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>
  
  <script type="text/javascript">
    $('#navbar').scrollspy()
  </script>
</body>
</html>